@model IEnumerable<FlightReservationAspNetCore.Models.Flight>

<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />

</head>
<body>
     @foreach(var flight in Model)
     {
    <div>
        <h2>@flight.flightId</h2>
        <h2>@flight.arrival</h2>
        <h2>@flight.departure</h2>
        <h2>@flight.from:@flight.destination</h2>
    </div>
     }
</body>
</html>