@model FlightReservationAspNetCore.ViewModels.HomeViewModel

@foreach(var flight in Model.Flights)
{
    <div>
        <h2>@flight.flightId</h2>
        <h2>@flight.arrival</h2>
        <h2>@flight.departure</h2>
        <h2>@flight.from:@flight.destination</h2>
    </div>
}
